.tile{
	width: 100%;
	height: 100%;
	font-size: 2em;
	border: 2px solid var(--primary);
}

.tile:hover{
	cursor: pointer;
}

.tile > p{
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

.x{
	color: tomato;
}
.o{
	color: cornflowerblue;
}
.empty{
	color: #E7F6F2;
}
