<!-- Checkboxes for fields -->
<form action="/handleEditCar" method="POST" onsubmit="return confirm('Are you sure you want to edit?');">
    <td>
        <div class="form-group">
            <select class="form-control" id="insurance-input" name="insurance">
                <option value="1" {{#if (eq (boolStatus insurance) 1)}}selected{{/if}}>Yes</option>
                <option value="0" {{#if (eq (boolStatus insurance) 0)}}selected{{/if}}>No</option>
                <option value="-1" {{#if (eq (boolStatus insurance) -1)}}selected{{/if}}>No data</option>
            </select>
        </div>
    </td>
    <td>
        <div class="form-group">
            <select class="form-control" id="gas-input" name="gas">
                <option value="1" {{#if (eq (boolStatus gas) 1)}}selected{{/if}}>Yes</option>
                <option value="0" {{#if (eq (boolStatus gas) 0)}}selected{{/if}}>No</option>
                <option value="-1" {{#if (eq (boolStatus gas) -1)}}selected{{/if}}>No data</option>
            </select>
        </div>
    </td>
    <td>
        <div class="form-group">
            <select class="form-control" id="damaged-input" name="damaged">
                <option value="1" {{#if (eq (boolStatus damaged) 1)}}selected{{/if}}>Yes</option>
                <option value="0" {{#if (eq (boolStatus damaged) 0)}}selected{{/if}}>No</option>
                <option value="-1" {{#if (eq (boolStatus damaged) -1)}}selected{{/if}}>No data</option>
            </select>
        </div>
    </td>
    <td>
        <div class="form-group">
            <select class="form-control" id="fourbyfour-input" name="fourbyfour">
                <option value="1" {{#if (eq (boolStatus fourbyfour) 1)}}selected{{/if}}>Yes</option>
                <option value="0" {{#if (eq (boolStatus fourbyfour) 0)}}selected{{/if}}>No</option>
                <option value="-1" {{#if (eq (boolStatus fourbyfour) -1)}}selected{{/if}}>No data</option>
            </select>
        </div>
    </td>
    <td>
        <input type="hidden" name="id" value="{{_id}}">
        <button type="submit" class="btn btn-success container-fluid">Save</button>
    </td>
    <td>
        <a href="/edit" class="btn btn-danger container-fluid">Cancel</a>
    </td>
</form>