<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ps-4" href="#">Car list</a>
    <div class="navbar-nav ps-2">
        <a class="nav-item nav-link active" href="/">Home</a>
        <a class="nav-item nav-link active" href="/list">List</a>
        <a class="nav-item nav-link active" href="/add">Add</a>
        <a class="nav-item nav-link active" href="/edit">Edit</a>
    </div>
</nav>